.dropdown_related_pro {
    position: relative;
    display: inline-block;
    top: 10px;
}

.dropdown_related_pro-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 25px;
}

.dropdown_related_pro:hover .dropdown_related_pro-content {
    display: block;
}


.custom_accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 25px;
}

.custom_accordion:hover {
    background-color: #ccc;
}

.custom_accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.custom_accordion.active:after {
    content: "\2212";
}

.accordion_panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.show_processes {
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

tr.content-row {
    background-color: rgb(248, 246, 246);
}

tr.content-row td:first-child {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;

}

tr.content-row td:last-child {
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
}

.show-related {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 25px;
}